body{
    font-family: 'Orbitron', sans-serif;
}

header{
    height: 150px;
}

.titulo{
    display: block;
    position:relative;
    top: 35%;
    text-align: center;       
    font-size: 70px;
}

.entradaDeTexto{
    width: 45%;
    display: inline-block;
}

.textoProcesado{
    width: 50%;
    display: inline-block;
}

.cuadroybotones{
    display: inline-block;
    position: relative;
    left: 33%;
}

.cuadroybotones textarea{
    display: block;
}



footer {
    position: relative;
    text-align: center;
    padding: 30px;
    background-color: aliceblue;
    opacity: 0.7;
}

footer img{
    width: 5%;
}

.copyright{ 
    margin: 20px 0 10px 0;
    font-size:smaller;
}

.contacto {
    text-decoration: underline;    
    font-size: smaller;
}

.logosContacto{
    margin-top: 10px;
}

.logosContacto li{
    display: inline-block;
}

.logo{
    width: 50px;
}

