body{
    background-image: url(imagenes/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Orbitron', sans-serif;
}

main{
    padding-bottom: 10%;
}

.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
    text-align: center;     
}

.titulo{
    padding-top: 2%;
    margin-left: 3%;
    font-size: 70px;    
    font-weight: 550;
    color: greenyellow;    
    text-decoration:underline;    
}

.textArea{
    width: 100%;
    position: relative;
    margin: 0 auto;    
    margin-top: 5%;
}

.inputText{
    display: inline-block;
    width: 45%;
    margin: 0 0 0 13%;
}

.outputText{
    display: inline-block;
    margin-left: 0;
    width: 40%;
}

.cuadroDeTexo{
    resize: none;
    border-radius: 30px;
    padding: 12px 5%;
    font-size: xx-large;
    background-color: black;        
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;    
    border-color: greenyellow;
    border-width: 2px;    
    font-weight:bold;
    color: greenyellow;    
    display: block;
}

.outputText textarea{
    background-image: url(/imagenes/fondo-output.png); 
    background-repeat:no-repeat;
    background-size: 80px;    
}

.button{
    height: 40px;
    width: 150px;
    background-color: black;
    color: greenyellow;    
    font-size:medium;
    border-radius: 30px;
    border-color: greenyellow;
    border-width: 1px;
    margin: 5% 0 0 3.5%;
}

.button:hover{
    border-color: white;
    color: white;
}

.button:active{
    font-size: 18px;    
}

#botonCopiar{
    margin-left: 20%;
}

footer {
    position: relative;
    text-align: center;
    padding: 30px;
    background-color: aliceblue;
    opacity: 0.7;
}

footer img{
    width: 5%;
}

.copyright{ 
    margin: 20px 0 10px 0;
    font-size:smaller;
}

.contacto {
    text-decoration: underline;    
    font-size: smaller;
}

.logosContacto{
    margin-top: 10px;
}

.logosContacto li{
    display: inline-block;
}

.logo{
    width: 50px;
}

@media screen and (max-width:480px){
    .caja {
        width: 100%;
        margin: 0 0 0 0;
    }

    .textArea{
        margin-top: 10%;
    }

    .titulo{
        width: 70%;
        font-size: 60px;        
    }

    .inputText{
        display: block;
        width: 100%;
        margin-left: 10%;
    }

    .outputText{
        margin: 10% 0 0 10%;
        width: 100%;
    }

    .button{
        width: 120px;
        margin: 5% 0 0 8%;
    }

    #botonCopiar{
        margin: 10% 0 0 25%;
    }
}